<a href="https://colab.research.google.com/github/anasayago/PracticasAI/blob/main/TelecomX_LATAM_AnaSayago.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Diccionario de datos**
* customerID: n煤mero de identificaci贸n 煤nico de cada cliente
* Churn: si el cliente dej贸 o no la empresa

* gender: g茅nero (masculino y femenino)
* SeniorCitizen: informaci贸n sobre si un cliente tiene o no una edad igual o mayor a 65 a帽os
* Partner: si el cliente tiene o no una pareja
* Dependents: si el cliente tiene o no dependientes
* tenure: meses de contrato del cliente

* PhoneService: suscripci贸n al servicio telef贸nico
* MultipleLines: suscripci贸n a m谩s de una l铆nea telef贸nica

* InternetService: suscripci贸n a un proveedor de internet
* OnlineSecurity: suscripci贸n adicional de seguridad en l铆nea
* OnlineBackup: suscripci贸n adicional de respaldo en l铆nea
* DeviceProtection: suscripci贸n adicional de protecci贸n del dispositivo
* TechSupport: suscripci贸n adicional de soporte t茅cnico, menor tiempo de espera
* StreamingTV: suscripci贸n de televisi贸n por cable
* StreamingMovies: suscripci贸n de streaming de pel铆culas

* Contract: tipo de contrato
* PaperlessBilling: si el cliente prefiere recibir la factura en l铆nea
* PaymentMethod: forma de pago

* Charges.Monthly: total de todos los servicios del cliente por mes
* Charges.Total: total gastado por el cliente

# Extracci贸n

In [129]:
#cargar los datos desde la API de GIT
import pandas as pd
import numpy as np
df = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# Transformaci贸n

In [130]:

customer_df = pd.json_normalize(df['customer'])
phone_df = pd.json_normalize(df['phone'])
internet_df = pd.json_normalize(df['internet'])
account_df = pd.json_normalize(df['account'])
#Concatenar el DataFrame original con los nuevos DataFrames
df = pd.concat([df.drop(columns=['customer', 'phone', 'internet', 'account']),
                customer_df,
                phone_df,
                internet_df,
                account_df], axis=1)
#Mostrar el DataFrame resultante
df.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [131]:
df.info()
colum_string = ['customerID','Churn','gender', 'Partner', 'Dependents', 'PhoneService',
                'MultipleLines', 'InternetService', 'OnlineSecurity',
                'OnlineBackup', 'DeviceProtection', 'TechSupport',
                'StreamingTV', 'StreamingMovies', 'Contract','PaperlessBilling',
                'PaymentMethod']
column_bool = ['SeniorCitizen']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [132]:
#Convertir las columnas de tipo string
df[colum_string] = df[colum_string].astype(str)
#Convertir las columnas de tipo booleano
df[column_bool] = df[column_bool].astype(bool)
df['Charges.Total'] = pd.to_numeric(df['Charges.Total'], errors='coerce')
df['Charges.Total'] = df['Charges.Total'].fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   bool
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   float64
dtypes: bool(1), float64(2), int64(1), object(17)
memory usage: 1.1+ MB

In [133]:
#valores nulos
df.isnull().sum()
#valores unicos
df.nunique()

customerID          7267
Churn                  3
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
Charges.Monthly     1585
Charges.Total       6531
dtype: int64

In [134]:
#valores unicos de las columas de la lista colum_string
for column in colum_string:
    print({column})
    print(df[column].unique())
    print("\n")

{'customerID'}
['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']


{'Churn'}
['No' 'Yes' '']


{'gender'}
['Female' 'Male']


{'Partner'}
['Yes' 'No']


{'Dependents'}
['Yes' 'No']


{'PhoneService'}
['Yes' 'No']


{'MultipleLines'}
['No' 'Yes' 'No phone service']


{'InternetService'}
['DSL' 'Fiber optic' 'No']


{'OnlineSecurity'}
['No' 'Yes' 'No internet service']


{'OnlineBackup'}
['Yes' 'No' 'No internet service']


{'DeviceProtection'}
['No' 'Yes' 'No internet service']


{'TechSupport'}
['Yes' 'No' 'No internet service']


{'StreamingTV'}
['Yes' 'No' 'No internet service']


{'StreamingMovies'}
['No' 'Yes' 'No internet service']


{'Contract'}
['One year' 'Month-to-month' 'Two year']


{'PaperlessBilling'}
['Yes' 'No']


{'PaymentMethod'}
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

In [135]:
#valores repetidos en customerID
df['customerID'].duplicated().sum()

np.int64(0)

In [136]:
#extraer de Churn los datos con valor '' guardarlos  y eliminarlos del DataFrame

#Eliminar las filas donde Churn es NaN  
registros_eliminados = df[df['Churn'] == '']
# Guardar los registros eliminados en un nuevo DataFrame
df = df[df['Churn'] != '']

#valores unicos de Churn
print(df['Churn'].unique())
registros_eliminados.head()

['No' 'Yes']

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
30,0047-ZHDTW,,Female,False,No,No,11,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.30
75,0120-YZLQA,,Male,False,No,No,71,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.10
96,0154-QYHJU,,Male,False,No,No,29,Yes,No,DSL,...,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.20
98,0162-RZGMZ,,Female,True,No,No,5,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,Male,True,Yes,No,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45

In [137]:
#Tranformar las columas YES y NO a 1 y 0 en varias columnas
df = df.applymap(lambda x: 1 if x == 'Yes' else 0 if x in ['No', 'No internet service','No phone service'] else x)

/var/folders/7l/3zvr6nj91ds_dl_w2h_7drsh0000gn/T/ipykernel_17821/2165195973.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: 1 if x == 'Yes' else 0 if x in ['No', 'No internet service','No phone service'] else x)

In [138]:
#agregar la columna nueva 'Charges.Diary' al DataFrame
df['Charges.Diary'] = (df['Charges.Monthly'] / 30).round(2)

In [139]:
new_column_names = {
    'customerID': 'ID Cliente',
    'Churn': 'Abandono',  
    'gender': 'G茅nero',
    'SeniorCitizen': 'Mayor de 65 a帽os',
    'Partner': 'Tiene Pareja',
    'Dependents': 'Tiene Dependientes',
    'tenure': 'Duraci贸n del Contrato (meses)',
    'PhoneService': 'Servicio Telef贸nico',
    'MultipleLines': 'M煤ltiples L铆neas',
    'InternetService': 'Servicio de Internet',
    'OnlineSecurity': 'Seguridad en L铆nea',
    'OnlineBackup': 'Respaldo en L铆nea',
    'DeviceProtection': 'Protecci贸n del Dispositivo',
    'TechSupport': 'Soporte T茅cnico',
    'StreamingTV': 'TV por Cable',
    'StreamingMovies': 'Streaming de Pel铆culas',
    'Contract': 'Tipo de Contrato',
    'PaperlessBilling': 'Facturaci贸n Sin Papel',
    'PaymentMethod': 'M茅todo de Pago',
    'Charges.Monthly': 'Costo Mensual',
    'Charges.Total': 'Costo Total',
    'Charges.Diary': 'Costo Diario'
}

# Renombramos las columnas
df.rename(columns=new_column_names, inplace=True)

In [140]:
# Diccionarios de entrada y reemplazo
replacement_dict = {
    'G茅nero': {'Female': 'F', 'Male': 'M'},
    'Servicio de Internet': {'Fiber optic': 'Fibra ptica'},
    'Tipo de Contrato':{'One year': 'Anual' ,'Month-to-month': 'Mensual' ,'Two year': 'Bianual'},
    'M茅todo de Pago':{'Mailed check':'Cheque por Correo', 'Electronic check':'Cheque electr贸nico' ,'Credit card (automatic)':'Tarjeta de cr茅dito (autom谩tico)','Bank transfer (automatic)': 'Transferencia bancaria (autom谩tico)'}  
}

# Reemplazar datos en el DataFrame usando los diccionarios
for column, replacements in replacement_dict.items():
    df[column] = df[column].replace(replacements)

df.head()

,ID Cliente,Abandono,G茅nero,Mayor de 65 a帽os,Tiene Pareja,Tiene Dependientes,Duraci贸n del Contrato (meses),Servicio Telef贸nico,M煤ltiples L铆neas,Servicio de Internet,...,Protecci贸n del Dispositivo,Soporte T茅cnico,TV por Cable,Streaming de Pel铆culas,Tipo de Contrato,Facturaci贸n Sin Papel,M茅todo de Pago,Costo Mensual,Costo Total,Costo Diario
0,0002-ORFBO,0,F,False,1,1,9,1,0,DSL,...,0,1,1,0,Anual,1,Cheque por Correo,65.6,593.30,2.19
1,0003-MKNFE,0,M,False,0,0,9,1,1,DSL,...,0,0,0,1,Mensual,0,Cheque por Correo,59.9,542.40,2.00
2,0004-TLHLJ,1,M,False,0,0,4,1,0,Fibra ptica,...,1,0,0,0,Mensual,1,Cheque electr贸nico,73.9,280.85,2.46
3,0011-IGKFF,1,M,True,1,0,13,1,0,Fibra ptica,...,1,0,1,1,Mensual,1,Cheque electr贸nico,98.0,1237.85,3.27
4,0013-EXCHZ,1,F,True,1,0,3,1,0,Fibra ptica,...,0,1,1,0,Mensual,1,Cheque por Correo,83.9,267.40,2.80

# Carga y an谩lisis

In [141]:
#Analisis descriptivo
df.describe(include='all')

,ID Cliente,Abandono,G茅nero,Mayor de 65 a帽os,Tiene Pareja,Tiene Dependientes,Duraci贸n del Contrato (meses),Servicio Telef贸nico,M煤ltiples L铆neas,Servicio de Internet,...,Protecci贸n del Dispositivo,Soporte T茅cnico,TV por Cable,Streaming de Pel铆culas,Tipo de Contrato,Facturaci贸n Sin Papel,M茅todo de Pago,Costo Mensual,Costo Total,Costo Diario
count,7043,7043.000000,7043,7043,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043,...,7043.000000,7043.000000,7043.000000,7043.000000,7043,7043.000000,7043,7043.000000,7043.000000,7043.000000
unique,7043,NaN,2,2,NaN,NaN,NaN,NaN,NaN,3,...,NaN,NaN,NaN,NaN,3,NaN,4,NaN,NaN,NaN
top,0002-ORFBO,NaN,M,False,NaN,NaN,NaN,NaN,NaN,Fibra ptica,...,NaN,NaN,NaN,NaN,Mensual,NaN,Cheque electr贸nico,NaN,NaN,NaN
freq,1,NaN,3555,5901,NaN,NaN,NaN,NaN,NaN,3096,...,NaN,NaN,NaN,NaN,3875,NaN,2365,NaN,NaN,NaN
mean,NaN,0.265370,NaN,NaN,0.483033,0.299588,32.371149,0.903166,0.421837,NaN,...,0.343888,0.290217,0.384353,0.387903,NaN,0.592219,NaN,64.761692,2279.734304,2.158675
std,NaN,0.441561,NaN,NaN,0.499748,0.458110,24.559481,0.295752,0.493888,NaN,...,0.475038,0.453895,0.486477,0.487307,NaN,0.491457,NaN,30.090047,2266.794470,1.003088
min,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,18.250000,0.000000,0.610000
25%,NaN,0.000000,NaN,NaN,0.000000,0.000000,9.000000,1.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,35.500000,398.550000,1.180000
50%,NaN,0.000000,NaN,NaN,0.000000,0.000000,29.000000,1.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,NaN,70.350000,1394.550000,2.340000
75%,NaN,1.000000,NaN,NaN,1.000000,1.000000,55.000000,1.000000,1.000000,NaN,...,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,NaN,89.850000,3786.600000,2.990000
max,NaN,1.000000,NaN,NaN,1.000000,1.000000,72.000000,1.000000,1.000000,NaN,...,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,NaN,118.750000,8684.800000,3.960000

### Tasa de abandono
La tasa de abandono promedio es del 26.54%. Esto indica que aproximadamente un cuarto de los clientes deja el servicio, lo cual es una se帽al de alerta para la empresa.
### Demograf铆a del cliente:
* G茅nero: La mayor铆a son hombres (51.69%).
* Mayor de 65 a帽os: Solo el 48.31% de los clientes son mayores de 65 a帽os, lo que sugiere que la mayor铆a son m谩s j贸venes.
* Tiene Pareja: El 48.30%  tienen pareja.
* Tiene Dependientes: El 29.96% tienen dependientes.

### Duraci贸n del contrato:
Duraci贸n promedio 32.37 meses, con una desviaci贸n est谩ndar de 24.56 meses. 

### Servicios adicionales:
* Servicio telef贸nico: El 90.32% tienen servicio telef贸nico.
* M煤ltiples l铆neas: El 42.18% tienen m煤ltiples l铆neas.
* Servicio de internet: El 90.32% tienen servicio de internet.
* Protecci贸n del dispositivo: El 34.39% tienen protecci贸n del dispositivo.
* Soporte t茅cnico: El 29.02% tienen soporte t茅cnico.
* TV por cable: El 38.44% tienen TV por cable.
* Streaming de pel铆culas: El 38.79% tienen streaming de pel铆culas.

### Tipo de contrato y facturaci贸n:
* Tipo de Contrato: La mayor铆a son mensuales (59.22%).
* Facturaci贸n Sin Papel: El 59.22% prefieren la facturaci贸n sin papel.
* M茅todo de Pago: El 23.65% prefieren el cheque electr贸nico.

### Costos:
* Costo mensual promedio de $64.76
* Costo total promedio es de $2,279.73
* Costo diario promedio es de $2.16

### Conclusi贸n

* Retenci贸n de clientes: La alta tasa de abandono (26.54%) es una preocupaci贸n significativa. La empresa debe investigar las razones detr谩s de este abandono y desarrollar estrategias para mejorar la retenci贸n de clientes, como ofrecer mejores servicios al cliente, promociones de fidelizaci贸n, o mejorar la calidad del servicio.
* Demograf铆a del cliente: La mayor铆a de los clientes son hombres y no mayores de 65 a帽os. Esto sugiere que la empresa debe enfocarse en segmentos de mercado m谩s j贸venes y masculinos para sus campa帽as de marketing y desarrollo de productos.
* Servicios Adicionales: La alta adopci贸n de servicios como el servicio telef贸nico y el servicio de internet indica que estos son servicios clave. Sin embargo, la baja adopci贸n de servicios adicionales como la protecci贸n del dispositivo y el soporte t茅cnico sugiere una oportunidad para aumentar los ingresos mediante la promoci贸n de estos servicios.
* Duraci贸n del Contrato: La variabilidad en la duraci贸n del contrato sugiere que la empresa debe trabajar en la estandarizaci贸n y la mejora de la experiencia del cliente para asegurar contratos m谩s largos y estables.
* Costos: Los costos mensuales y totales son relativamente bajos, lo que puede ser una ventaja competitiva. Sin embargo, la empresa debe asegurarse de que estos costos sean sostenibles y que no est茅n afectando la calidad del servicio.

#Informe final